<%- include("partials/headers") %>

<%- include("partials/nav") %>


<div class="container py-5">



    <div class="row justify-content-center">

        <div class="col-md-8 col-lg-6">

            <div class="card shadow">

    <div class="card-body">
        <h3 class="text-center mb-4">
            Add New Student
        </h3>
   

    <form action="Add-Student" method="POST">

    <div class="mb-3">
    <label for="studentName" class="form-label"> Student Name</label>
    <input type="text" class="form-control" id="studentName" name="studentName" placeholder="Enter Your Name">
     </div>


     <div class="mb-3">
    <label for="age"  class="form-label">Age</label>
    <input type="number" class="form-control" id="age" name="age" placeholder="Enter Your Age">
</div>


    <div class="mb-3">
     <label for="email"  class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
</div>


    <div class="mb-3">
     <label for="course"  class="form-label">Course</label>
    <input type="text" class="form-control" id="course" name="course" placeholder="Enter Your Course">
</div>

    <div class="mb-3">
     <label for="department"  class="form-label">Department</label>
    <input type="text" class="form-control" id="department" name="department" placeholder="Enter Your Department">
</div>


    <div class="mb-3">
     <label for="phone"  class="form-label">Phone-No</label>
    <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
</div>

  <button type="submit" class="btn btn-primary">Submit</button>

  
</form>

            </div> <!-- card-body -->

        </div> <!-- card -->

    </div> <!-- col -->

</div> <!-- row -->

</div> <!-- container -->



<%- include("partials/footer") %>